@import "../Base/_global.scss";

.progress {
    display: flex;
    height: 2rem;
    overflow: hidden;
    background-color: #e9ecef;

    .progress-bar {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        background-color: $color-primary;
        transition: width .6s ease;
    }
}