@font-face {
    font-family: 'font-awesome';
    src: url('../fonts/fontawesome/fa-light-300.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-light-300.svg') format('svg'), url('../fonts/fontawesome/fa-light-300.ttf') format('truetype'), url('../fonts/fontawesome/fa-light-300.woff') format('woff'), url('../fonts/fontawesome/fa-light-300.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-light.ttf') format('truetype');
}